*{
}

body > #root > div {
  height: 100vh;
  font-family: 'Nanum Gothic', sans-serif;

}

.main-div{
  height: 380px;
}


.nav{
    display: inline-block;
}

.home-h1{
  font-size: 40px;
}

.image-holder{
  display: inline-block;
  float: right;
}

.covid-img{
  
  display: flex;
  justify-content: flex-end;
  height: 87px;
  width: 92px;

}

.covid-img:hover{
  opacity:100%;
  transition:opacity 2s
}

.links {
    float: left;
    margin: 20px;
    color: black;
    font-size: 30px;
    text-decoration: none;
    transition: 1.0s;
  }

  .links:hover{
    background: black;
    color: white
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  hr{
    border: solid 0.1px lightgray
  }

  .home-h1{
      display: flex;
      justify-content: center;
  }


  .desc-container{
    display: flex;
    justify-content: space-around;
  }

  .home-description{
    display: flex;
    justify-content: center;
    width: 656px;

  }

