.nav{
    display: flex;
    justify-content: center;
}


.links {
    float: left;
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .covid-img{
      display: flex;
      justify-content: center;
      margin: 70px;
    height: 195px;
    width: 205px;
  }

  .home-h1{
      display: flex;
      justify-content: center;
  }

  .home-description{
    display: flex;
    justify-content: center;
  }

